*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    padding:20px;
    background-color:#f5f5f5;
}


nav{
    display:flex;
    flex-direction:column;
    background-color:#e6e6e6;
    padding:15px;
    border-radius:8px;
}

nav a{
    text-decoration:none;
    color:black;
    padding:10px;
    font-weight:bold;
}

nav a:hover{
    color:blue;
}

/* Desktop Navbar */
@media(min-width:768px){
    nav{
        flex-direction:row;
        gap:30px;
    }
}

h1{
    text-align:center;
    margin:25px 0;
    color:#333;
}

/* Image */
img{
    width:350px;
    max-width:100%;
    display:block;
    margin:20px auto;
    border-radius:50px;
}

/* Video */
video{
    width:50vw;
    display:block;
    margin:20px auto;
    padding:10px;
    background-color:purple;
    border-radius:10px;
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th, td{
    border:1px solid black;
    padding:12px;
    text-align:center;
}

th{
    background-color:#cce5ff;
}

/* Button */
button{
    display:block;
    margin:25px auto;
    padding:12px 25px;
    border:none;
    background-color:blue;
    color:white;
    cursor:pointer;
    border-radius:5px;
    transition:0.3s;
}

button:hover{
    background-color:darkblue;
    transform:scale(1.05);
}

/* Grid - Desktop First */
.grid-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin-top:30px;
}

.box{
    background-color:#d9d9d9;
    padding:25px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    border-radius:8px;
}

/* Mobile Layout */
@media(max-width:767px){
    .grid-container{
        grid-template-columns:repeat(2,1fr);
    }
}